div.container-fluid{
    display: grid;
    row-gap: 100px;
}

.carousel-item > img {
    /* filter: blur(8px) */
}

.row > .col-md-4 {
    display : grid;
    align-items: center;
}

.image-start  {
    justify-content: start;
}

.image-end {
    justify-content: end;
}

.push-text-down{
    margin-top:7.5%;
}

.heading-container{
    position: absolute;
    width: 100%;
    display: grid;
    justify-items: center;
    z-index: 2;
    color: orange;
}

h3,h4,h5{
    color: orange;
}

em{
    color: orange;
}

#popup-div{
    position:fixed;
    z-index: 25;
    visibility:hidden;
    display:none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(240,240,240,0.8);
    transition: visibility 2s;
}

.popup-box{
    background-color: white;
    border :1px solid black;
    border-radius: 4px;
    padding: 10px;
    margin: 20px;
}

.div_visibility_class_start{
    animation: animated_tld_start 1s;
}

.div_visibility_class_remove{
    animation: animated_tld_end 1s;
}


@keyframes animated_tld_start{
    from {opacity: 0;}
    to {opacity: 0.9;}
}

@keyframes animated_tld_end{
    from {opacity: 0.9;}
    to {opacity: 0;}
}

.detail-list-li {
    list-style-type: none;
}

.people-div{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.people-div > div {
    align-self: start;
}

.carousel-item > img{
    min-height: 55vh;
    max-height: 70vh;
}

body{
    padding-top: 15px;
}

hr{
    min-width: 80vw;
    color: silver;
}

@media (orientation:landscape) {
    

    /* div#content-container > .works-field:nth-child(even){
        grid-template-areas: "image text";
    } */
    
    /* div#content-container > .works-field:nth-child(odd) {
        grid-template-areas: "text image";
    } */     
}

@media (orientation:portrait) {
    .works-field{
        display: grid !important;
    }
    
    .works-field > .col-md-4{
        grid-area: image;
    }
    .works-field > .col-md-8{
        grid-area: text;
    }

    div#content-container > .works-field {
        grid-template-areas: "text"
                             "image";
    }

    div#content-container > .works-field > .col-md-4  {
        justify-content: center;
    }
    
}

/* div.row {
    padding-bottom: 100px; 
    border-bottom: 1px solid silver;
  } */
/* body{ */
    /* background-image: linear-gradient(45deg,rgb(255,175,21),rgb(255,185,47),rgb(255,195,73),rgb(255,205,99),rgb(255,215,125),rgb(255,225,151),rgb(255,235,176),rgb(255,245,202),rgb(255,255,228)); */
    /* filter: blur(3px) */
/* } */

/* .bg-img{
  background-image: linear-gradient(45deg,rgb(255,175,21),rgb(255,185,47),rgb(255,195,73),rgb(255,205,99),rgb(255,215,125),rgb(255,225,151),rgb(255,235,176),rgb(255,245,202),rgb(255,255,228));
  position: fixed
  width: 100vw
  height: 100vh

  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  height: 100%; 
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */